python-nmap
ipaddress
colorama
paramiko
pycurl
pyopenssl
mysqlclient
psycopg2
pycrypto
dnspython
pysnmp
pyasn1
Flask-SQLAlchemy
IPy
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
