python-nmap
ipaddress
colorama
paramiko
pycurl
pyopenssl
mysqlclient
psycopg2
pycrypto
dnspython
pysnmp
pyasn1
Flask-SQLAlchemy
IPy
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
