{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About Page</h1>
</div>
<p class="lead">PortScanner</p>
<p>portScanner is a tool for scanning whole network or any number of hosts in a network to find open ports and vulnerable services running on the machine.</p>
<p>For example : the network format can be 192.168.31.0/24 (whole network), 192.168.31.10-25(some hosts in the network), or a single host like 192.168.31.5 or 192.168.31.5/32</p>
<p>If any suggestions, mail me at tinyb0y@protonmail.com / tinyb0y@pm.me</p>
<div class="container">
<div class="row">
  <div class="col-md-12">
  <a href="https://asciinema.org/a/3fWX1ufPwYUhfWdJIfeiECkro" target="_blank">
    <img src="https://asciinema.org/a/3fWX1ufPwYUhfWdJIfeiECkro.png" style="width:80%;" />
  </a>
  </div>
</div>
</div>
{% endblock %}
